@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    align-items: center;
    overflow-x: hidden;
}

.column {
    margin: auto;
    text-align: center;
}

.dashboard-element-div {
    margin-top: 10px;
    text-align: center;
    align-content: center;
}

.dashboard-element-div p {
    margin: 0;
}

.label {
    font-size: 12px;
}

#position-div:hover {
    cursor: pointer;
}

#position-div:hover #arrow-down {
    visibility: visible;
}

#dashboard-container {
    padding: 0;
    width: 250px;
    height: 100vh;
    background-color: #1a212e;
    align-content: center;
}

#arrow-down {
    width: 0;
    margin: auto;
    visibility: hidden;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}