@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    align-items: center;
    overflow-x: hidden;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.card {
    margin-left: 15%;
    margin-right: 10%;
    background-color: #1a212e;
    border: solid 1px gray;
    border-radius: 10px;
    transition: 0.3s linear;
}

.card:hover {
    background-color: #232c3d;
    /* border: solid 1px white; */
}

.card-header {
    padding: 5px 0 5px 0;
}

.card-body {
    padding: 10px 0 10px 0;
}

.column {
    margin: auto;
    text-align: center;
}

.dashboard-element-div {
    margin-top: 10px;
    text-align: center;
    align-content: center;
}

.dashboard-element-div p {
    margin: 0;
}

.label {
    font-size: 12px;
}

.navigation-button {
    width: 100%;
    text-align: left;
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    transition: 0.3s linear;
}

.navigation-button:hover {
    background-color: #232c3d;
}

.navigation-button:focus {
    outline: 0;
}

.navigation-button span {
    margin-left: 25px;
}

#position-div:hover {
    /* cursor: pointer; */
}

#position-div:hover #arrow-down {
    visibility: visible;
}

#dashboard-container {
    padding: 0;
    width: 300px;
    height: 100vh;
    background-color: #1a212e;
    align-content: center;
}